#background_video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#game_container {
    display: grid;
    width: auto;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

#game_cards_container {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
    place-content: center;
    gap: 20px;
    padding: 20px;
    z-index: 1;
    border: deeppink solid 2px;
    background-color: black;
}

.game_card_fs_html {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/html-5100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_css {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/css-3100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_csharp {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/c-sharp100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_java {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/java100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_javascript {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/javascript100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_jquery {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/jquery100w.png");
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_postgresql {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/postgresql100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_fs_python {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/python100w.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: white;
}

.game_card_bs {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: black solid 2px;
    background-image: url("media/pictures/iryna-trigubova-100px.png");
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
    background-color: darkred;
}

#you_win {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    padding: 10px;
}

#you_win video {
    position: relative;
    left: 40px;
}

#you_win h1 {
    color: white;
    position: relative;
    left: 40px;
    top: 40px;
}

#reset_game_button {
    padding: 10px;
    font-weight: bold;
}

#game_stats_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    border: deeppink solid 2px;
    background-color: black;
    color: whitesmoke;
    font-family: Consolas, Arial, "Times New Roman", Verdana, sans-serif ;
}